<template name="dashboard">
	<h2>Dashboard</h2>
	<p>Select a module below and click <strong>Begin</strong> (or <strong>Review</strong> to review your progress).</p>

	<div class="panel panel-default">
	  <div class="panel-heading">1.0 The Basics</div>
	  <div class="panel-body">
	  	<p>Learn about China's main exports and some simple introductory greetings and phrases.</p>
	    <div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
		    0%
		  </div>
		</div>
		<a class="btn btn-primary pull-right margin-left" role="button" id="module1">Begin &raquo;</a>
		<a class="btn btn-default pull-right" role="button">Review</a>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">2.0 Doing Business in China</div>
	  <div class="panel-body">
	  	<p>Learn about China's business climate and numbers, currency, and how to say thanks.</p>
	    <div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
		    0%
		  </div>
		</div> 
		<a class="btn btn-primary pull-right margin-left" role="button" id="module2">Begin &raquo;</a>
		<a class="btn btn-default pull-right" role="button">Review</a>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">3.0 China's Companies</div>
	  <div class="panel-body">
	  	<p>Learn about China's largest companies and considerations when doing business.</p>
	    <div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
		    0%
		  </div>
		</div> 
		<a class="btn btn-primary pull-right margin-left module" role="button">Begin &raquo;</a>
		<a class="btn btn-default pull-right" role="button">Review</a>
	  </div>
	</div>	

	<div class="panel panel-default">
	  <div class="panel-heading">6.0 Chinese Gossip You Have Never Known</div>
	  <div class="panel-body">
	  	<p>Learn about some secrets behind this large country</p>
	    <div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
		    0%
		  </div>
		</div> 
		<a class="btn btn-primary pull-right margin-left" role="button" id="module6">Begin &raquo;</a>
		<a class="btn btn-default pull-right" role="button">Review</a>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">7.0 Overview of Intellectual Property Rights in China</div>
	  <div class="panel-body">
	  	<p>Learn about the basics of intellectual property protection in China.</p>
	    <div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
		    0%
		  </div>
		</div> 
		<a class="btn btn-primary pull-right margin-left" role="button" id="module7">Begin &raquo;</a>
		<a class="btn btn-default pull-right" role="button">Review</a>
	  </div>
	</div>

</template>