<template name="leaderboard">
	<h2>Leaderboard</h2>
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">How are you doing?</div>

	  <!-- Table -->
	  <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Emma</td>
            <td>Yu</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Dyana</td>
            <td>Nagrani</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Tom</td>
            <td>Tong</td>
            <td>100</td>
          </tr>    
          <tr>
            <th scope="row">1</th>
            <td>Seb</td>
            <td>Ko</td>
            <td>100</td>
          </tr>   
          <tr>
            <th scope="row">1</th>
            <td>Gary</td>
            <td>Wong</td>
            <td>100</td>
          </tr>                               
          <tr>
            <th scope="row">2</th>
            <td>Kevin</td>
            <td>Bluer</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
	</div>
</template>