<template name="module6">
	<h2>Module 6</h2>
	<p>Learn the secrets behind this large country </p>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
	    0%
	   </div>
	</div>

	<h3>Art of Chinese Imitations</h3>
	<p>Below picture and video show some of the myterious creations in Chinese imitation market.  </p>
	<img src="/images/copy.jpg" style="width: 640;">
	<iframe width="640" height="360" src="https://www.youtube.com/embed/_OAco1L7t0s" frameborder="0" allowfullscreen></iframe>
		<ul class="questions">
	{{#each questions}}
		<li>{{ title }}</li>
	{{/each}}
	</ul>
</template>