<template name="module7">
	<h2>Module 7</h2>
	<p>The content on this website is intended only to provide a summary and general overview on matters of interest. It is not intended to be comprehensive nor does it constitute legal advice. We attempt to ensure that the content is current but we do not guarantee its currency. You should seek legal or other professional advice before acting or relying on any of the content.</p>
<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
	    0%
	  </div>
	</div>
	<h3>Overview of Intellectual Property Rights</h3>	
<p>Since its entry into the World Trade Organization in 2001, China has gradually strengthened its laws to protect intellectual property rights ("IPR") in line with international standards.  However, as the enforcement regime is weak, China continues to harbor high rates for counterfeiting and piracy of products made by both foreign and domestic companies.</p> 
<p>[Interesting facts and figures about IPR in China]</p>
<p>China protects IPR in the forms of patents, trademarks and copyrights:<p/> 
<h3>Patent Protection</h3>
<p>In China, patents are granted on a first-to-file basis; not necessarily to the original inventors. This system is consistent with the European Union. Applications should be made with the State Intellectual Property Office ("SIPO") in Beijing. Enforcement is conducted by SIPO's offices at the provincial and municipal levels. Parties without a business office in China must hire a licensed agent to file foreign patent applications.</p> 
<h3>Trademarks</h3>
<p>Foreign companies planning to sell their products in China should register trademarks (including Chinese language versions of the trademarks) and logos with the Trademark Office. Trademarks are granted on a first-to-file basis, and proof of prior use or ownership is not necessary. The Trademark Office, however, has the power to cancel unfairly registered trademarks where third parties seek to register popular foreign marks. Foreign companies with local branches or subsidiaries in China can file for trademark registrations directly, otherwise, they must hire a licensed agent to do so.</p>
<h3>Copyright</h3> 
<p>Copyrights are protected even without registration. But registration with the National Copyright Administration is useful to prove ownership where enforcement is needed.</p>
<h3>Other Laws</h3>
<p>Parties may also seek protection of IPR, especially unregistered forms of IPR, under data protection and trade secrecy laws, including the Anti-Unfair Competition Law.</p> 
<p>[Categories of trademarks, patents; basics about procedures]</p>
<h3>Enforcing Against Infringements</h3>
<p>Complaints of IPR infringements may be submitted via (1) the administrative route (filed with the appropriate IPR government agency) or (2) the judicial route (filed with the court system). Nevertheless, the police will assist in commercial scale piracy and counterfeiting cases, and help bring about criminal prosecutions.</p>
<p>Seeking the appropriate agency under route (1) can be confusing, because there are many agencies involved in the protection of IPR but the jurisdiction of each relevant agency is narrowly defined, specific to particular IPR. For example, among other agencies, the State Drug Administration is responsible for counterfeit pharmaceuticals, while the Ministry of Culture is responsible for copyrighted materials and their markets.</p> 
<p>Each agency also has different powers of investigation and enforcement. Agencies can issue fines, seize goods or manufacturing equipment, and/or investigate the infringer's business practices. However, to obtain compensation, parties would normally file for civil lawsuits in the courts.</p> 
<p>Further information may be obtained from the following websites:</p>
<p>Intellectual Property Protection in China: http://www.chinaipr.gov.cn/</p>
<p>State Intellectual Property Office: http://english.sipo.gov.cn/</p>  
<p>Trademark Office: http://www.tmo.gov.cn/</p>
<p>National Copyright Administration: http://www.ncac.gov.cn/</p> 
<p>Administration for Quality Supervision, Inspection and Quarantine: http://www.aqsiq.gov.cn/</p> 
<p>General Administration of Customs: http://www.customs.gov.cn</p> 
<ul class="questions">
	{{#each questions}}
		<li>{{ title }}</li>
	{{/each}}
	</ul>
</template>