body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #DE2910;
}

.jumbotron.welcome {
	margin-top: 20px;
	padding: 30px;
}

.jumbotron.welcome h1 {
	margin-top: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse {
	border-color: #CE5E4E;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #FEDE00;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	color: #FEDE00;
}

footer p {
	color: #777777;
}