<template name="leaderboard">
	<h2>Leaderboard</h2>
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">How are you doing?</div>

	  <!-- Table -->
	  <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        {{#if Template.subscriptionsReady}}
          {{#each leaderboard}}
            <tr class="{{#if isCurrentUser}}success{{/if}}">
              <td><a href="/user/{{profile.username}}">{{ profile.firstName }} {{ profile.lastName }}</a></td>
              <td>{{#unless profile.score}}0{{else}}{{profile.score}}{{/unless}}</td>
            </tr>
          {{/each}}
        {{else}}
            <tr>
              <td colpan="3">Loading...</td>
            </tr>
        {{/if}}
        </tbody>
      </table>
	</div>
</template>