<template name="settings">
	<h1>Settings</h1>
	<p>Update your details below</p>
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" value="{{user.firstName}}">
	    </div>
	  </div>	
	  <div class="form-group">
	    <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="{{user.lastName}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="{{email.address}}">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button id="update" type="submit" class="btn btn-default">Update</button>
	    </div>
	  </div>
	</form>
	<hr>
	<h1>Upgrade to Pro</h1>
	<p>Unlock all the modules</p>
</template>