<template name="module8">
	<h2>Module 8</h2>
	<h4>Resources</h4>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
	    {{ progress }}%
	  </div>
	</div>

	<div id="section1">
		<h3>1. Links</h3>
		<p>http://www.bj.cyberpolice.cn/</p>

		<a class="btn btn-primary disabled" role="button" id="back1">&laquo; Back</a>
		<a class="btn btn-primary" role="button" id="next1">Next &raquo;</a>
	</div>
</template>